KAFKA_TOPIC=prod-1010-Darwin-Train-Information-Push-Port-IIII2_0-XML
KAFKA_HOST=pkc-z3p1v0.europe-west2.gcp.confluent.cloud:9092

CONSUMER_GROUP=
CONSUMER_USERNAME=
CONSUMER_PASSWORD=

PGSQL_DATABASE_DSN='host=localhost user=pushport password=pushport dbname=pushport port=5433 sslmode=disable TimeZone=UTC'

CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_S3_ENDPOINT=

PUSH_PORT_DUMP_R2_PATH_PREFIX=live
PUSH_PORT_DUMP_WORKDIR=/var/pushport-workdir

GCP_PROJECT_ID=rail-announcements
GOOGLE_APPLICATION_CREDENTIALS=../service-account.json
